.Experiences
    text-align: left
    padding: 0px 15%

    .card
        display: flex
        align-items: center

    li
        font-family: 'Source sans pro'
        color: #B9BBB3
        font-size: 1.15em
    a
        cursor: pointer

@media screen and (max-width: 768px)
    .Experiences
        margin: 0px
        padding: 0px
