.Experiences
    text-align: left
    

    .card
        display: flex

    li
        font-family: 'Source sans pro'
        color: #B9BBB3
        font-size: 1.15em
    a
        cursor: pointer

    

@media screen and (max-width: 768px)
    .detail
        display: flex
        flex-direction: column
        align-items: center

        h2, h3
            text-align: center
            line-height: 1.25em
    .card
        display: block
