.App {
    display: block;
}

section {
    margin: 0px 0px;
    padding-bottom: 100px;
    padding-top: 125px;
}

@media screen and (max-width: 768px){
    section {
        margin: 0px 0px;
        padding: 0px;
    }
}