:root {
  font-family: 'Ubuntu Mono', Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  /* font-weight: 400; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0D1117;

}

html {
  scroll-behavior: smooth;
}

body {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}


@media screen and (max-width: 768px) {
  body {
  width: 90%;
  margin: 0px auto;
  padding: 0px;
}
    
}        

